/* #particles-js{
  background-color:transparent;
} */
.particles-js-canvas-el {
  position: fixed;
  top: 0;
  z-index: -1;
  margin:0px auto;
  left:0;
  right:0;
  width: 100%;
}

#id{
  z-index:1;
  position:absolute;
  margin:0px auto;
  left:0;
  right:0;

}

#a{
  position:absolute;
}

#particles-js{
  position:absolute;
  background-color:black;
  margin:0px auto;
  width:100%;
  height:100%;
}

a{
  color:#03A062;
}

img{
  width: 10px;
  height: 10px;
}
